<div class="input-card">
    <form [formGroup]="todoForm">
        <div class="input-card-header" fxLayout fxLayoutAlign="start center">
            <div class="input-icon-spacing">
                <mat-icon style="color:#C8C8C8 ">add</mat-icon>
            </div>
            <div fxFlex>
                <input formControlName="taskName" class="todo-text-input" placeholder="Add Task" (focus)="enableEdit()">
            </div>

            <div *ngIf="isEdit" fxFlex="75px" fxLayoutAlign="end center">
                <button [disableRipple]="true" mat-icon-button (click)="togglePrioritize()">
              <mat-icon *ngIf="!isPrioritized" >star_border</mat-icon>
              <mat-icon *ngIf="isPrioritized" class="todo-prioritized">star</mat-icon>
          </button>
                <button [disableRipple]="true" mat-icon-button (click)="hideEdit()">
            <mat-icon  class="todo-editing">create</mat-icon>
            </button>
            </div>
        </div>

        <div *ngIf="isEdit">
            <div class="list-card-content" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutGap="20px">
                    <div>
                        <label><span class="far fa-calendar-alt icon-spacing"></span>Deadline</label>
                        <div class="input-spacing" fxLayout fxLayoutGap="20px">
                            <kendo-datepicker placeholder="yyyy/mm/dd" [formatPlaceholder]="datePlaceHolderFormat" [format]="dateFormat" formControlName="estimateDate"></kendo-datepicker>
                            <kendo-timepicker placeholder="hh:mm" [formatPlaceholder]="timePlaceHolderFormat" [format]="timeFormat" formControlName="estimateTime"></kendo-timepicker>
                        </div>
                    </div>
                    <div>
                        <label><span class="far fa-file icon-spacing"></span>File</label>
                        <div class="input-spacing" fxLayout fxLayoutGap="20px">
                            <div fxLayout="column" *ngIf="fileInput.files.length!=0">

                                <span>{{fileInput.files[0].name}}</span>
                                <span>uploaded today</span>


                            </div>
                            <div fxLayout fxLayoutAlign="center center">
                                <mat-icon class="file-icon" (click)="getFile()">add_box</mat-icon>
                                <input type="file" style="display:none" (change)="null" #fileInput>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label><span class="far fa-comment-dots icon-spacing"></span>Comment</label>
                        <div class="input-spacing" (dblclick)="enableTextAreaEdit()">
                            <div class="todo-comment">
                                <textarea style="background-color: #ffffff" matInput formControlName="comment"></textarea>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div fxLayout>
                <button mat-button fxFlex class="todo-cancel-btn" (click)="cancel()"><mat-icon>clear</mat-icon> Cancel</button>
                <button mat-button fxFlex class="todo-save-btn" (click)="save()"><mat-icon >add</mat-icon> Add Task</button>
            </div>
        </div>
    </form>
</div>

{{todoForm.value | json}}