<!--
<f2e-todoitem text="Cloud Project with Dannie" [isComplete]="false" [isEdit]="true" [isPrioritized]="true" [hasFile]="true" [hasComment]="true" [deadline]="{hasDeadline:true, date:'2018/5/14'}">
</f2e-todoitem>

<f2e-todoitem text="Type Something Here..." [isComplete]="false" [isEdit]="false" [isPrioritized]="true" [hasFile]="true" [hasComment]="true" [deadline]="{hasDeadline:false, date:''}">
</f2e-todoitem>

<f2e-todoitem text="Type Something Here..." [isComplete]="false" [isEdit]="false" [isPrioritized]="false" [hasFile]="false" [hasComment]="false" [deadline]="{hasDeadline:false, date:''}">
</f2e-todoitem>

<f2e-todoitem text="Type Something Here..." [isComplete]="false" [isEdit]="false" [isPrioritized]="false" [hasFile]="true" [hasComment]="false" [deadline]="{hasDeadline:true, date:'2019/6/18'}">
</f2e-todoitem>

<f2e-todoitem text="Type Something Here..." [isComplete]="true" [isEdit]="false" [isPrioritized]="false" [hasFile]="true" [hasComment]="true" [deadline]="{hasDeadline:false, date:''}">
</f2e-todoitem>
-->

<f2e-addtodo></f2e-addtodo>
<f2e-todoitem [dragula]="'todos'"  [todoItem]="todo" *ngFor="let todo of (filteredTodoState$ | async)"></f2e-todoitem>
<div class="to-do-count-block">
  {{getCountBlockText()}}
</div>
