<div fxLayout fxLayoutAlign="center">
    <mat-tab-group dynamicHeight="true" style="height: 100%;">

        <mat-tab label="My Task">

            <f2e-addtodo></f2e-addtodo>
            <f2e-todolist></f2e-todolist>


        </mat-tab>
        <mat-tab label="In Progress">
            <f2e-addtodo></f2e-addtodo>
            <f2e-todolist></f2e-todolist>
        </mat-tab>
        <mat-tab label="Completed">
            <f2e-addtodo></f2e-addtodo>
            <f2e-todolist></f2e-todolist>
        </mat-tab>
    </mat-tab-group>
</div>