<div class="nav" fxLayoutAlign="center">
    <div fxFlex></div>
    <div fxFlex="620px" fxLayout fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <div class="tab" fxFlex fxLayoutAlign="center center">
            My Task
        </div>
        <div class="tab" fxFlex fxLayoutAlign="center center">
            In Progress
        </div>
        <div class="tab" fxFlex fxLayoutAlign="center center">
            Completed
        </div>
    </div>
    <div fxFlex></div>
</div>
<div fxLayout fxLayoutAlign="center">
    <div fxFlex="620px" fxLayout="column" fxLayoutGap="10px">
        <f2e-addtodo></f2e-addtodo>
        <f2e-todolist></f2e-todolist>
    </div>
</div>