<div class="list-card">
    <form [formGroup]="todoEditForm">
        <div [ngClass]="{'prioritized-header': isPrioritized,'list-card-header':!isPrioritized}" fxLayout="column">
            <div fxFlex fxLayout fxLayoutAlign="start center">
                <div class="input-icon-spacing">
                    <mat-checkbox color="primary" [checked]="isComplete"></mat-checkbox>
                </div>
                <div fxFlex fxLayout="column">
                    <div fxFlex>
                        <input id="todo-text-input" *ngIf="isEdit" class="todo-text-input" placeholder="Add Task" formControlName="taskName" [value]="text">
                        <span *ngIf="!isEdit" [ngClass]="{'todo-completed': isComplete}">{{text}}</span>
                    </div>
                </div>

                <div fxFlex="75px" fxLayoutAlign="end">
                    <button [disableRipple]="true" mat-icon-button (click)="togglePrioritize()">
                  <mat-icon *ngIf="!isPrioritized">star_border</mat-icon>
                  <mat-icon *ngIf="isPrioritized" class="todo-prioritized">star</mat-icon>
              </button>
                    <button [disableRipple]="true" mat-icon-button (click)="toggleEdit()">
                  <mat-icon [ngClass]="{'todo-editing': isEdit}">create</mat-icon>
              </button>


                </div>

            </div>
            <div *ngIf="!isEdit" fxFlex fxLayout fxLayoutGap="10px" class="todo-subtitle">
                <div *ngIf="true">
                    <span class="far fa-calendar-alt icon-spacing"></span>
                    <span></span>
                </div>

                <span *ngIf="true" class="far fa-file"></span>
                <span *ngIf="true" class="far fa-comment-dots"></span>
            </div>
        </div>
        <div *ngIf="isEdit">
            <div class="list-card-content" (dblclick)="enableTextAreaEdit()" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutGap="20px">
                    <div>
                        <label><span class="far fa-calendar-alt icon-spacing"></span>Deadline</label>
                        <div class="input-spacing" fxLayout fxLayoutGap="20px">
                            <kendo-datepicker placeholder="yyyy/mm/dd" [format]="dateFormat" [formatPlaceholder]="datePlaceHolderFormat" formControlName="estimateDate"></kendo-datepicker>
                            <kendo-timepicker placeholder="hh:mm" [format]="timeFormat" [formatPlaceholder]="timePlaceHolderFormat" formControlName="estimateTime"></kendo-timepicker>
                        </div>
                    </div>
                    <div>
                        <label><span class="far fa-file icon-spacing"></span>File</label>
                        <div class="input-spacing" fxLayout fxLayoutGap="20px">
                            <div fxLayout="column" *ngIf="fileInput.files.length!=0">

                                <span>{{fileInput.files[0].name}}</span>
                                <span>uploaded today</span>


                            </div>
                            <div fxLayout fxLayoutAlign="center center">
                                <mat-icon class="file-icon" (click)="getFile()">add_box</mat-icon>
                                <input type="file" style="display:none" (change)="null" #fileInput>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label><span class="far fa-comment-dots icon-spacing"></span>Comment</label>
                        <div class="input-spacing">
                            <div>
                                <textarea class="todo-comment" formControlName="comment"></textarea>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div fxLayout>
                <button mat-button fxFlex class="todo-cancel-btn" (click)="cancel()"><mat-icon>clear</mat-icon> Cancel</button>
                <button mat-button fxFlex class="todo-save-btn" (click)="save()"><mat-icon >add</mat-icon> Add Task</button>
            </div>
        </div>
    </form>
    {{todoEditForm.value | json}}
</div>