<mat-card class="list-card">
    <div class="card-header" fxLayout="column">
        <div fxFlex fxLayout fxLayoutAlign="start center">
            <div class="input-icon-spacing">
                <mat-checkbox></mat-checkbox>
            </div>
            <div fxFlex fxLayout="column">
                <div fxFlex>
                    <input class="todo-text-input" placeholder="Add Task">
                </div>
            </div>

            <div fxFlex="75px" fxLayoutAlign="end">
                <button mat-icon-button>
                  <mat-icon *ngIf="false">star_border</mat-icon>
                  <mat-icon class="todo-prioritized">star</mat-icon>
              </button>
                <button mat-icon-button>
                  <mat-icon class="todo-editing">create</mat-icon>
              </button>


            </div>

        </div>
        <div fxFlex fxLayout fxLayoutGap="10px" class="todo-subtitle">
            <div>
                <span class="far fa-calendar-alt icon-spacing"></span>
                <span>5/14</span>
            </div>

            <span class="far fa-file"></span>
            <span class="far fa-comment-dots"></span>
        </div>
    </div>

    <mat-card-content fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="20px">
            <div>
                <label><span class="far fa-calendar-alt icon-spacing"></span>Deadline</label>
                <div class="input-spacing" fxLayout fxLayoutGap="20px">
                    <kendo-datepicker [(value)]="value"></kendo-datepicker>
                    <kendo-timepicker [(value)]="value"></kendo-timepicker>
                </div>
            </div>
            <div>
                <label><span class="far fa-file icon-spacing"></span>File</label>
                <div class="input-spacing" fxLayout fxLayoutGap="20px">
                    <div fxLayout="column">
                        <span>20180514.zip</span>
                        <span>uploaded yesterday</span>
                    </div>
                    <div fxLayout fxLayoutAlign="center center">
                        <button class="file-icon" mat-icon-button>
                          <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <label><span class="far fa-comment-dots icon-spacing"></span>Comment</label>
                <div class="input-spacing">
                    <mat-form-field floatLabel="never">
                        <textarea matInput [disabled]="'true'"></textarea>
                    </mat-form-field>
                </div>
            </div>

        </div>


    </mat-card-content>
    <mat-card-actions>
        <div fxLayout>
            <button mat-button fxFlex class="todo-cancel" (click)="cancel()"><mat-icon>clear</mat-icon> Cancel</button>
            <button mat-button fxFlex class="todo-save" (click)="updateTodo()"><mat-icon >add</mat-icon> Add Task</button>
        </div>
    </mat-card-actions>
</mat-card>