/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import 'dragula/dist/dragula.css';
body {
  font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1E1E1
}

.nav {
    background-color: #4A90E2;
    height: 56px;
}

.todo-body {
    max-width: 620px;
}

.tab-container {
    max-width: 620px;
}

.active{
  text-decoration: none;
  color: #FFFFFF !important;
  border-bottom: 5px solid #00408B
}

.tab {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    height: 56px;
    color: #00408B;
    // &:hover{
    //   text-decoration: none;
    //     color: #FFFFFF;
    //     border-bottom: 5px solid #00408B
    //}
}

.input-block {
    background-color: #FFFFFF;
    width: 100%;
    padding-right: 10px;
}

.input-card {
    max-width: 620px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow:1px 1px 2px 2px #ccc;
    //background-color: transparent;
}

.input-card-content {
    background-color: #F2F2F2;
    padding: 20px;
    margin: 0;
}

.input-card-header {
    background-color: #F2F2F2;
    margin-bottom: 1px;
    width: 100%;
    padding: 10px;
}

.list-card {
    max-width: 620px;
    margin-bottom: 10px;
    background-color: transparent;
    //background-color: transparent;
    box-shadow:1px 1px 2px 2px #ccc;
}

.list-card-content {
    background-color: #F2F2F2;
    padding: 20px;
    margin: 0;
}

.list-card-header {
    background-color: #F2F2F2;
    margin-bottom: 1px;
    width: 100%;
    padding: 10px;
}

.todo-subtitle {
    font-size: 10px;
    color: #757575;
    padding-left: 30px;
}

.todo-text-input {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    &:focus {
        color: black;
        outline: none;
    }
}

.todo-cancel-btn {
    background-color: #FFFFFF;
    color: #D0021B;
    &:hover {
        background-color: #FDFDFD;
    }
}

.todo-save-btn {
    background-color: #4A90E2;
    color: #FFFFFF;
    &:hover {
        background-color: #3982D7;
    }
}

.todo-prioritized {
    color: #F5A623;
}

.prioritized-header {
    background-color: #FFF2DC;
    margin-bottom: 1px;
    width: 100%;
    padding: 10px;
}

.content-edit-block {
    display: none
}

.todo-comment {
    width: 400px;
    height: 100px;
    background-color: #ffffff;
    border: none;
}

.input-spacing {
    padding-left: 18px
}

.file-icon {
    &:hover {
        cursor: pointer;
        color: #4A90E2
    }
}

.icon-spacing {
    margin-right: 5px;
}

.input-icon-spacing {
    margin-right: 10px;
}

.todo-editing {
    color: #4A90E2
}

.todo-checkbox {
    color: #4A90E2;
}

.todo-completed {
    text-decoration: line-through;
    color: #9B9B9B
}

;
.to-do-count-block{
  color:#C8C8C8 ;
  font-style: italic;
  padding-left:15px;
}
